.homeContainer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
}

.darkMode {
    background-image: url('../../Images/dark.jpg');
}

.lightmode {
    background-image: url('../../Images/white.jpg');
}

.subContainer {
    align-items: center;
    height: 100vh;
}

.sec1Style {
    margin: 0 10px;
}

.highlight {
    margin-top: 30px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    font-family: Dosis, arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.nameStyle {
    letter-spacing: 20px;
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    opacity: .9;
    font-family: Dosis, arial, sans-serif;
}

p {
    text-align: justify !important;
}

.statusStyle {
    float: inline-start;
    align-items: center;
    display: inline-flex;
    height: 30px;
}

.statusStyle p {
    margin-left: 10px;
}

.badgeStyle {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-left: 5px;
}

.badgeStyle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #4caf50;
    border-radius: 50%;
    animation: ripple 1.2s ease-in-out infinite;
    opacity: 1;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.scroll-down-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 18px;
}

.arrow-down {
    font-size: 24px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}