body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.App {
  position: relative;
  z-index: 1;
  text-align: center;
  display: grid;
}

h1 {
  margin-top: 20px;
  font-size: 3rem;
}
