/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #040a15; /* Your background color */
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.App {
  position: relative;
  z-index: 1; /* Keep content above the wave effect */
  text-align: center; /* Center text */
}

h1 {
  margin-top: 20px;
  font-size: 3rem;
}
